a:link {
    text-decoration: none;
    color: white;
  }
ion-content.background {
  --background: url(../images/grass.jpg) repeat;
}
ion-card.background {
  --background: white;
}
ion-col.background {
  background: white;
}